.form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .inputsWrap {
    display: flex;
    justify-content: space-between;
  }

  .inputsText {
    width: 180px;
  }

  .inputsNumber {
    width: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .inputsWrap {
    width: 706px;
    display: flex;
    justify-content: space-between;
  }

  .form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media screen and (max-width: 677px) {
  .calendar {
    margin-bottom: 12px;
  }
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonInput {
  width: 130px;
  height: 44px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
  background-color: #ff751d;
  color: #ffffff;
  margin-right: 20px;
}

.buttonClear {
  width: 130px;
  height: 44px;
  border-radius: 16px;
  background-color: #f5f6fb;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}
