.form {
  display: flex;
  flex-direction: column;
}

.calendar {
  width: 30px;
}

.description {
  border: 2px solid #ffffff;
  border-width: 2px 2px 0 2px;
  border-radius: 20px 20px 0 0;
  height: 44px;
  width: 280px;
  outline: none;
  color: #c7ccdc !important;
  padding-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.description:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #f5f6fb !important; /* Цвет фона */
  -webkit-text-fill-color: #c7ccdc !important; /* цвет текста */
  color: #c7ccdc !important; /* цвет текста */
}

.input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #f5f6fb !important; /* Цвет фона */
}

.description::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc !important;
}

.arrow {
  color: #c7ccdc;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px 16px 10px 19px;
  border-radius: 22px 0 0 22px;
  border: 2px solid #ffffff;
  width: 120px;
  outline: none;
  text-align: right;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  height: 44px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  font-weight: bold;
  font-size: 12px;
}

.select {
  margin-bottom: 32px;
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonInput {
  width: 130px;
  height: 44px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
  background-color: #ff751d;
  color: #ffffff;
  margin-right: 20px;
}

.buttonClear {
  width: 130px;
  height: 44px;
  border-radius: 16px;
  background-color: #f5f6fb;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

.calculateWrap {
  width: 60px;
  height: 44px;
  border: 2px solid #ffffff;
  border-width: 2px 2px 2px 0;
  border-radius: 0px 22px 22px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate {
  width: 20px;
  height: 20px;
}

.currencyWrapp {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .form {
    margin-bottom: 60px;
  }

  .select {
    width: 169px;
    height: 44px;
    margin-bottom: 0;
  }

  .description {
    background-color: #ffffff;
    border: 2px solid #f5f6fb;
    border-width: 2px 0 2px 2px;
    border-radius: 20px 0 0 0;
    margin-left: 110px;
    width: 288px;
    padding-left: 20px;
    color: #c7ccdc !important;
  }

  .description::placeholder {
    padding: 10px;
    color: #c7ccdc !important;
  }

  .description:active {
    border-color: #f5f6fb;
    outline: none;
  }

  .input {
    padding: 10px 16px 10px 19px;
    width: 119px;
    outline: none;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    border: 2px solid #f6f7fc;
    border-radius: 0px 16px 16px 0px;
    background-color: #ffffff;
    color: #c7ccdc;
    margin-right: 32px;
  }

  .input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  .inputWrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  .buttonWrap {
    align-items: center;
  }

  .description:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  }
}

@media screen and (min-width: 1280px) {
  .form {
    margin-bottom: 48px;
    flex-direction: row;
  }

  .buttonWrap {
    align-items: flex-start;
  }

  .description {
    margin-left: 0;
  }
}
