@media screen and (min-width: 768px) {
    .wrap {
        margin: 0 auto;
        margin-top: 32px;
        padding: 22px 0 20px 0;
        width: 704px;
        height: 422px;
        background: #FFFFFF;
        box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
        border-radius: 30px;

    }


    .container {

        margin: 0 auto;
        width: 638px;
        height: 350px;
        min-height: 314px;
    }
}

@media screen and (min-width: 1280px) {
    .wrap {
        width: 1034px;
    }


    .container {
        width: 758px;
        height: 350px;
    }
}