* {
  box-sizing: border-box;
}

.section {
  min-height: 1000px;

  background-image: url('../../img/AuthorizationPage/cabbage.png'),
    url('../../img/AuthorizationPage/cabbage.png'),
    url('../../img/AuthorizationPage/rectangle-mob.png');
  background-position: right -34px top 104px, bottom 0px left 35px,
    top 0px left 0px;
  background-repeat: no-repeat;
  background-size: 83px 89px, 83px 89px, 100% 286px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section {
    background-image: url('../../img/AuthorizationPage/2x/cabbage2x.png'),
      url('../../img/AuthorizationPage/2x/cabbage2x.png'),
      url('../../img/AuthorizationPage/2x/rectangle2x-mob.png');
  }
}

.container {
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 280px;
  padding-top: 86px;
  padding-bottom: 102px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
}

.text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
  margin-left: 11px;
}

.titleIcon {
  display: block;
}

@media screen and (max-width: 320px) {
  .section {
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
  }
}

@media screen and (max-width: 767px) {
  .titleIcon {
    width: 183px;
    height: 46px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin: 0 auto;
    background-image: url('../../img/AuthorizationPage/cabbages-group.png'),
      url('../../img/AuthorizationPage/cabbage-2dt.png'),
      url('../../img/AuthorizationPage/rectangle-tab.png');
    background-position: top 26px left 0px, bottom 56px left 103px,
      top 0px left 0px;
    background-repeat: no-repeat;
    background-size: 1334px 232px, 183px 142px, 100% 526px;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section {
      background-image: url('../../img/AuthorizationPage/2x/cabbages2x-group.png'),
        url('../../img/AuthorizationPage/2x/cabbage2x-dt.png'),
        url('../../img/AuthorizationPage/2x/rectangle2x-tab.png');
    }
  }

  .container {
    width: 426px;
    /* padding-left: 32px;
    padding-right: 32px; */
    padding-bottom: 80px;
  }

  .titleIcon {
    width: 307px;
    height: 78px;
  }

  .authBox {
    width: fit-content;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
    margin-left: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: auto;
    height: 100vh;
    background-image: url('../../img/AuthorizationPage/cabbages-group.png'),
      url('../../img/AuthorizationPage/cabbage-2dt.png'),
      url('../../img/AuthorizationPage/rectangle-desktop.png');
    background-position: top 26px left 0px, bottom 56px left 210px,
      top 0px left 0px;
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-size: 1334px 232px, 183px 142px, 100% 526px;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section {
      background-image: url('../../img/AuthorizationPage/2x/cabbages2x-group.png'),
        url('../../img/AuthorizationPage/2x/cabbage2x-dt.png'),
        url('../../img/AuthorizationPage/2x/rectangle2x-desk.png');
    }
  }

  .container {
    width: 1280px;
    /* padding-left: 16px;
    padding-right: 16px; */
    padding-top: 117px;
  }

  .titleIcon {
    width: 370px;
    height: 113px;
  }

  .authBox {
    display: flex;
    margin-left: 209px;
  }

  .text {
    margin-left: 80px;
  }

  .title {
    width: 377px;
    height: 139px;
    padding-top: 219px;
    margin-right: 157px;
  }
}