




.middlePart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1098px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
}
.balance{
    margin-right: 298px;
    display: flex;
    align-items: center;
}

.balanceMargin{
    margin-right: 20px;
    margin-left: 16px;
}


.main{
    width: 1098px;
    margin: 0 auto;
    margin-top: 48px;
}
.tabs{
    display: flex;
}