* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

 
.form {
  height: 496px;
  width: 280px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;

  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
}


.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #52555f;
  margin-bottom: 16px;   
}

.text:first-of-type {
  text-align: center;

}

.googleBox {
  display: flex;
  justify-content: center;
}

.google {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 122px;
  background: #f6f7fb;
  border-radius: 26px;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  margin-bottom: 32px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.156);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.link::before{
  position: absolute;
  content: '';
  inset: 0;
}

.icon {
  display: block;
  height: 17, 58px;
  width: 18px;
}

.iconText {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-left: 10px;
}

.input {
  width: 240px;
  height: 50px;
  border: transparent;
  background-color: #f6f7fb;
  border-radius: 30px;
  padding: 17px 19px;
  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input:focus {
  outline-color: #ff751d;
}

.input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #a6abb9;
}

.label {
  display: block;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 12px;
}

.btn {
  width: 116px;
  height: 44px;
  background: #f5f6fb;
  border: transparent;
  border-radius: 16px;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
  cursor: pointer;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:first-of-type {
  margin-right: 8px
}
 .btn:hover {
  color: #fff;
  background-color: #ff751d;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
} 
.btn::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg,
      #ff2400,
      #e81d1d94,
      #e8b71d,
      #e3e81d,
      #a18902e4,
      #df00f395);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:hover::before {
  opacity: 1;
}

.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
background:#ff751d;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 426px;
    height: 552px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 83px;
    padding-right: 83px;
    margin: 0;
  
  }

  .btn {
    width: 122px;
    height: 44px;
  }

  .btn:first-of-type {
    margin-right: 14px;
  }

  .label {
    font-size: 12px;
    line-height: 14px;
  }

  .input {
    width: 260px;
    height: 52px;
  }
  .text {
    margin-bottom: 20px;
  }

  .text:first-of-type { 
    margin-bottom: 35px;
  }
}

.message {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: #eb5757;
  margin-top: 4px;
}

.fieldBox {
  margin-bottom: 16px;
}

.fieldBox:last-of-type {
  margin-bottom: 24px;
}

