.button {
  color: #ff751d;
  margin-top: 40px;
  margin-bottom: 60px;
}

.wrap {
  padding-top: 40px;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 60px;
  }

  .iconWrap {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    justify-content: flex-start;
  }
  .iconWrap {
    display: none;
  }
}
