.test {
  height: 400px;
  width: 100%;
  padding-top: 22px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 704px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .link {
    order: 1;
  }

  .balance {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 139px;
  }

  .container_calendar {
    order: 3;
  }
}



@media screen and (min-width: 768px) {
  .wrap_link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.link {
  color: rgba(255, 117, 29, 1);
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.link_text {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .link_text {
    visibility: inherit;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(82, 85, 95, 0.7);
    margin-left: 16px;
  }

  .svg {
    display: flex;
    align-items: center;
  }
}

.dateSwiperContainer {
  text-align: center;
  margin-top: 22px;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .dateSwiperContainer {
    margin-top: 0;
    margin-right: 0;
  }
  .balanceDateWrap{
    display: flex;
    flex-direction: row-reverse;
  }
  .balance{
    margin-right: 100px;
  }
}

.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
  margin-bottom: 5px;
}

.calendar {
  display: flex;
  justify-content: center;
}

.calendar_text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btn {
  color: rgba(255, 117, 29, 1);
  background-color: transparent;
} */
.btn {
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
}

.btn:hover,
.btn:focus {
  background-color: transparent;
  color: #f9680e;
}

.arrowBtn {
  position: absolute;
  font-size: 25px;
  bottom: 0;
  left: 0;
  color: #f76002;
}

.balance {
  text-align: center;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .balance {
    margin-top: 0;
  }
}

.balance_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
  margin-bottom: 8px;
}

.balance_cash {
  max-width: 183px;
  height: 14px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 15px 30px 15px 30px;
  border: 2px solid #ffffff;
  border-radius: 22px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .balance_text {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .balance_cash {
    padding: 12px 20px;
    min-width: 125px;
    margin-bottom: 0;
  }
}

.cash {
  min-width: 280px;
  height: 85px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .cash {
    max-width: 704px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .cash {
    max-width: 1034px;
  }
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .expenses {
    flex-direction: row;
  }
}

.expenses__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #52555f;
}

@media screen and (min-width: 768px) {
  .expenses__text {
    margin-right: 15px;
  }
}

.expenses__cash {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #e53935;
}

.span {
  border: 1px solid #e0e5eb;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .span {
    height: 36px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.income {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .income {
    flex-direction: row;
  }
}

.income__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #52555f;
}

@media screen and (min-width: 768px) {
  .income__text {
    margin-right: 15px;
  }
}

.income__cash {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #407946;
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 1034px;
  }

  .balance {
    margin-right: 210px;
  }
}