* {
  box-sizing: border-box;
}

.header {
  height: 56px;
  padding-top: 13px;
  padding-bottom: 13px;
  
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.theme {
  display: flex;
  align-items: center;
}

.themeText {
  font-family: 'Roboto';
  color: #52555f;
  margin-right: 7px;
  font-weight: 700;
}

.logo {
  width: 90px;
  height: 31px;
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
