* {
  box-sizing: border-box;
}
.appContainer{
  background-color: black;
  height: 100vh;
  width: 100%;

}
.back {
height: 100vh;

  background-image: url('../img/AuthorizationPage/rectangle-mob.png');
  background-position: top 0px left 0px;
  background-repeat: no-repeat;
  background-size: 100% 286px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .back {
    background-image: url('../img/AuthorizationPage/2x/rectangle2x-mob.png');
  }
}

@media screen and (max-width: 320px) {
  .back {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .back {
    margin: 0 auto;
    background-image: url('../img/AuthorizationPage/cabbage-2dt.png'),
      url('../img/AuthorizationPage/rectangle-tab.png');
    background-position: bottom 59px right 88px, top 0px left 0px;
    background-repeat: no-repeat;
    background-size: 183px 142px, 100% 526px;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .back {
      background-image: url('../img/AuthorizationPage/2x/cabbage2x-dt.png'),
        url('../img/AuthorizationPage/2x/rectangle2x-tab.png');
    }
  }
}

@media screen and (min-width: 1280px) {
  .back {
    width: auto;
    background-image: url('../img/AuthorizationPage/cabbages-group.png'),
      url('../img/AuthorizationPage/rectangle-desktop.png');
    background-position: bottom 0px left 0px, top 0px left 0px;
    background-repeat: repeat-x, no-repeat;
    background-size: 1334px 232px, 100% 526px;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .back {
      background-image: url('../img/AuthorizationPage/2x/cabbages2x-group.png'),
        url('../img/AuthorizationPage/2x/rectangle2x-desk.png');
    }
  }
}