.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  max-width: calc(100vw - 24px);
  max-height: calc(100vh - 24px);
  background-color: #ffff;

  padding: 15px 15px 25px 15px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}
