.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F5F6FA;
    color: #52555F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

}