.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.span {
  color: #52555f;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'Roboto';
}

.form {
  display: flex;
}

.input {
  padding: 10px 16px 10px 19px;
  border-radius: 22px 0 0 22px;
  border: 2px solid #ffffff;
 width: 150px ;
  outline: none;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  height: 44px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  font-weight: bold;
  font-size: 12px;
}

.button {
  color: #52555f;
  border-radius: 0 22px 22px 0;
  outline: none;
  padding: 12px 22px 12px 18px;
  font-size: 12px;
  font-weight: normal;
  border: 2px solid #ffffff;
  border-width: 2px 2px 2px 0;
  height: 44px;
}

.button:disabled {
  color: #52555f;
  background: #f5f6fb;
  border: 2px solid #ffffff;
  border-width: 2px 2px 2px 0;
  pointer-events: none;

}


.button:disabled:hover {
  color: #52555f;
  background: #f5f6fb;
  border: 2px solid #ffffff;
    border-width: 2px 2px 2px 0;

  
}

.button:hover {
  border: none;
}
@media screen and (max-width: 767px) {
.wrap{
  margin-bottom: 20px;
}

}


@media screen and (min-width: 768px) {
  .wrap {
    flex-direction: row;
  }
  .span {
    margin-right: 21px;
    margin-bottom: 0;
  }

  .input {
    
    border-radius: 22px;
    margin-right: 15px;
    min-width: 120px;
  }
  .button {
    min-width: 125px;
    border-radius: 22px;
    border-width: 2px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    margin-right: 298px;
  }
}
