.description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #52555f;
}

.mobTable {
  max-width: 320px;
  margin-bottom: 12px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .mobTable {
    display: none;
  }
  .plugText {
    display: none;
  }
}

.mobTable td {
  font-size: 8px;
  line-height: 1.12;
  letter-spacing: 0.04em;
  text-align: center;
  color: #52555f;
  border-bottom: 1px solid #f5f6fb;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plugText {
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 0.06em;
  text-align: center;
  color: #52555f;
  margin-top: 50px;
}
.amount.income {
  color: #407946;
}

.amount.expense {
  color: #e7192e;
}

.mobTable .amount {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  padding: 0;
}

.mobTable .descriptionItem {
  text-align: left;
  border: none;
}

.mobTable .date {
  text-align: left;
}
