.deleteBox {
  width: 110%;
  height: 95%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(101%);
  background-color: #fff;
  transition: transform 1s cubic-bezier(0.4, 1.44, 0.59, -0.3);
}

.deleteIcon {
  display: block;
  height: 100%;
  width: 50px;
  margin-right: auto;
  margin: 0;
  margin-left: 0;
}
