.tableBody {
  max-height: 344px;
  margin-top: 5px;
  margin-bottom: 20px;
  white-space: nowrap;
  border-bottom: 2px solid #f5f6fb;
  overflow-x: hidden;
  overflow-y: scroll;
}

.table {
  width: 624px;
}

@media screen and (min-width: 1280px) {
  .table {
    width: 746px;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border: none;
  border-spacing: 0 0;
}

.table thead th {
  font-weight: 700;
  font-size: 12px;
  height: 38px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  background: #f5f6fb;
}

.table tr {
  position: relative;
}

.table thead tr th:first-child {
  border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
  border-radius: 0 20px 0 0;
}

.table tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: center;
  color: #52555f;
  border-bottom: 2px solid #f5f6fb;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f5f6fb;
  background: #f5f6fb;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #ff751d;
  border-radius: 2px;
}

.listHeader{
  cursor: pointer;
}
.listHeader:hover{
  color: #ff751d;
}