.container{
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #52555F;
}
.userName{
    margin-right: 20px;
}
.line{
    height: 100%;
    border-right: 1px solid #E0E5EB;
}
.exitBtn{
    margin-left: 20px;  
    cursor: pointer;
}
.exitBtn:hover{
    text-decoration: underline;
}

.icon{
    cursor: pointer; 
    color: #CBCCD0;
}
.icon:hover{
    color: #52555F;
}

.text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #52555f;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 379px) {
    .text {
        font-size: 12px;
        line-height: 14px;
      }
  }

  @media screen and (max-width: 767px) {
    .userName,.line,.exitBtn{
        display: none;
    }

  }
  @media screen and (min-width: 768px) {

      .icon {
          display: none !important;
      }

  }