.wrapBtn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}
.textBtn{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000000;
        padding: 0 10px 0 10px;
        margin: 0 10px 0 10px;;
}

.button{
    position: relative;
    background-color: transparent;
   width: 25px;
   height: 25px;
    padding: 0;
}

.button:hover,
.button:focus{
    background-color: transparent;
        color: #f9680e;
}
.arrowBtn{
    position: absolute;
 bottom: 0;
    left:0; 
color: #f76002;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 106px;
    flex-basis: calc(100% / 3);
    border-bottom: 1px solid #E0E5EB;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.item:nth-last-child(-n+2){
    margin-bottom: 0
}



.text {

    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #52555F;
}
.itemSpan {
    position: relative;
    display: inline-block;
    background-color: #F5F6FB;
    border-radius: 20px;
    width: 59px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.itemSpan:hover,
.itemSpan:focus{
background-color:#ff741d19;

}

.span {
    position: absolute;
    display: flex;
    cursor: pointer;
        bottom: 0;
        left: 0;
        overflow:visible;
    /* background-color: #52555F;
    border-radius: 25%; */
    fill: #071F41
}

.span:hover,
.span:focus {
    fill: #FF751D;
}